*{text-size-adjust: none;  box-sizing: border-box;}
html,body{  height: 100%;  margin: 0 auto;  padding: 0;  background-color: white;}
body{ position: relative;width: 10rem;}
ul,li{list-style: none;}
header{position:absolute;height: 100%;right: 0;z-index: 900;}
footer{position: absolute;}
body>section{  height: 100%;overflow: auto;width: 10rem;padding: 0;margin: auto;overflow-x: hidden;}
header>div{float: left;}